@model Test.Models.Theloai

@{ ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
  }

<h1>Chi tiết</h1>

<div>
    <h4>Thể loại</h4>
    <hr />



    <div class="p-4">
        <div class="container">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th colspan="2">Thông tin thể loại</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th scope="row">Tên thể loại</th>
                        <td>@Model.Tentheloai</td>
                    </tr>
                </tbody>
            </table>


            <div>
                <a asp-action="Edit" asp-route-id="@Model.IdTheloai" class="btn btn-success">Cập nhật</a>
            </div>
        </div>
    </div>
</div>

<a asp-action="Index">Trở về trang danh sách</a>
<style>
    .table tbody th {
        width: 350px
    }
</style>