@page
@model ResetPasswordModel
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewData["Title"] = "Reset password";
}

@*<h1>@ViewData["Title"]</h1>
<h4>Reset your password.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>*@

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Forgot Password</title>
 Custom fonts for this template
<link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">
<link href="~/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">

<div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Quên mật khẩu?</h1>
                                    <p class="mb-4">
                                        Chỉ cần nhập địa chỉ email của bạn vào bên dưới và chúng tôi sẽ gửi
                                        cho bạn một liên kết để đặt lại mật khẩu của bạn!
                                    </p>
                                </div>
                                <form class="user" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input asp-for="Input.Code" type="hidden" />
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                               asp-for="Input.Email"
                                               placeholder="Nhập địa chỉ Email...">
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               asp-for="Input.Password"
                                               placeholder="Nhập mật khẩu...">
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               asp-for="Input.ConfirmPassword"
                                               placeholder="Nhập lại mật khẩu...">
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Làm mới mật khẩu
                                    </button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" asp-page="./Register">Tạo tài khoản mới!</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" asp-page="./Login">Bạn đã có tài khoản? Đăng nhập</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>

</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
